body {
  padding: 20px;
  background-color: rgb(176, 22, 193);
  font-family: Arial, sans-serif;
}

#quizName {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
}

.question-box {
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(213, 147, 214);
  border-radius: 20px;
  
}

button {
  margin: 5px;
  padding: 10px;
  background-color: rgb(240, 240, 229);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button.correct {
  background-color: lightgreen;
}

button.wrong {
  background-color: lightcoral;
}